.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.accountForms {
  list-style: none;
}

#navbar {
  background-color: #2f3aa4;
  margin-bottom: 0px;
}

#innerNavBar {
  border-color: #2f3aa4;
}

/* .rootPage {
  width: 50%;
  height: 400px;
}

#divRight {
  float: right;
}

.mainGreeting {
  padding-left: 150px;
  padding-right: 150px;
}

#rootHeader {
  padding-left: 150px;
  padding-right: 150px;
} */

.ui.header:first-child {
  margin-top: 130px;
  margin-left: 75px;
}

.ui.header + p {
  margin-left: 75px;
  margin-right: 75px;
}

.welcome-banner {
  display: flex;
}

.welcome-banner-picture,
.welcome-banner-text {
  flex-basis: 50%;
  border-bottom: 1px solid #848484;
}

.signup-button {
  text-align: center;
}

#signup-btn {
  margin-top: 15px;
  margin-bottom: 30px;
}

.welcome-greeting {
  font-size: 20px;
}

.parent-div-login {
  text-align: center;
  background-color: #eaeff3;
}

.child-div-login {
  margin-top: 50px;
  display: inline-block;
  border: 1px solid #888888;
  padding: 10px;
  box-shadow: 1px 5px #888888;
  background-color: #ffffff;
}

#login-header {
  margin-top: 30x;
  text-align: left;
}

.login-input {
  display: block;
}

.field {
  display: block;
}

body {
  background-color: #eaeff3;
}

#login-btn,
#registration-btn,
#update-registration-btn {
  margin-top: 10px;
  background-color: #5de0b5;
}

.login-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.background {
  width: 100%;
  background-color: #eef2f6;
  display: inline-block;
}

.Section-Title {
  margin-top: 75px;
  font-family: AvenirNext;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #3e50b4;
}

.coupon-contents {
  background-color: #ffffff;
}

.Introducing-Access-P {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 30px;
  font-weight: bold;
  font-family: AvenirNext;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

#coupon-search {
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 500px;
  margin-top: 20px;
}

/* Floating stuff */
#social {
  position: fixed;
  top: 200px;
  right: 3px;
  width: 40px;
  z-index: 1;
}

a.fbook {
  display: block;
  width: 80px;
  height: 80px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url(../images/baseline-add_circle-24px.svg) no-repeat;
}

a.fbook {
  background-position: 0 0;
  background: url(../images/baseline-add_circle-24px.svg) no-repeat;
}
a.fbook:hover {
  background-position: -40px 0;
  background: url(../images/baseline-add_circle_outline-24px.svg) no-repeat;
}
a.fbook:active {
  background-position: -80px 0;
  background: url(../images/baseline-add_circle-24px.svg) no-repeat;
}

.css-menu {
  margin-bottom: 0px;
}

#registration-form {
  display: inline-block;
}

.registration {
  text-align: center;
}

.error-message {
  margin-top: 30px;
  margin-bottom: 15px;
  color: red;
}

.form-input {
  width: 257px;
}

.header-title {
  font-size: 50px;
  line-height: 1.75;
}
.header-subtitle {
  margin-left: 10px;
}

#logo {
  font-size: 1.5em;
}

#update-subtitle {
  color: #2f3aa4;
}

.wishlist-btn {
  background-color: #5de0b5;
}

.wishlist-btn-txt {
  color: white;
  font-size: 1.5em;
}

* {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}
