.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.accountForms {
  list-style: none;
}

#navbar {
  background-color: #2f3aa4;
  margin-bottom: 0px;
}

#innerNavBar {
  border-color: #2f3aa4;
}

/* .rootPage {
  width: 50%;
  height: 400px;
}

#divRight {
  float: right;
}

.mainGreeting {
  padding-left: 150px;
  padding-right: 150px;
}

#rootHeader {
  padding-left: 150px;
  padding-right: 150px;
} */

.ui.header:first-child {
  margin-top: 100px;
  margin-left: 75px;
}

.ui.header + p {
  margin-left: 75px;
  margin-right: 75px;
}

.welcome-banner {
  display: flex;
}

.welcome-banner-picture,
.welcome-banner-text {
  flex-basis: 50%;
  border-bottom: 1px solid #848484;
}
